<div class="panel panel-default">
  <div class="panel-body">
      <%= simple_form_for([@student, @assessment]) do |f| %>
        <%= f.error_notification %>
        <div class="row">
            <div class="col-xs-6 col-md-4">
              <div class="form-inputs">
                <%= f.input :mode, as: :select, :collection => ['Cash', 'Check'], :label=>'Mode of Payment:' %>
              </div>
            </div>
            <div class="col-xs-6 col-md-4">
              <div class="form-inputs">
                <%= f.input :installment, as: :select, :collection => ['Annual','Semi-Annual','Quarterly','Monthly'], :label=>'Type of Payment:' %>
              </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-4 in">
              <div class="form-inputs">
                <%= f.input :installment_number, :label=>'Installment Number:' %>
                
              </div>
            </div>
            <div class="col-xs-4 in">
              <div class="form-inputs">
                <%= f.input :or_number, :label=>'OR Number:' %>
                <br>
                <%= f.input :paid_status, :label=>'Payment Status:' %>
              </div>
          </div>
          <div class="col-xs-4 in">
              <div class="form-inputs">
                <%= f.input :student_id, :label=>'ID Number:' %>
              </div>
          </div>
        </div>
        <br><br>
        <div class="form-actions">
          <center><%= f.button :submit %></center>
        </div>
      <% end %>
  </div>
</div>
