<h1>REVIEWING ASSESSMENT</h1>
<div class="panel panel-default">
  <div class="panel-body">
<p id="notice"><%= notice %></p>

<p>
  <strong>Installment:</strong>
  <%= @assessment.installment %>
</p>

<p>
  <strong>Mode:</strong>
  <%= @assessment.mode %>
</p>

<p>
  <strong>Installment Number:</strong>
  <%= @assessment.installment_number %>
</p>

<p>
  <strong>OR Number:</strong>
  <%= @assessment.or_number %>
</p>

<p>
  <strong>Student:</strong>
  <%= @assessment.student_id %>
</p>
</div>
</div>

<%= link_to 'Edit', edit_student_assessment_path(@student, @assessment),:class=>"btn btn-small btn-success" %>
