<p id="notice"><%= notice %></p>

<p>
  <strong>Installment:</strong>
  <%= @assessment.installment %>
</p>

<p>
  <strong>Mode:</strong>
  <%= @assessment.mode %>
</p>

<p>
  <strong>Installment number:</strong>
  <%= @assessment.installment_number %>
</p>

<p>
  <strong>Or number:</strong>
  <%= @assessment.or_number %>
</p>

<p>
  <strong>Student:</strong>
  <%= @assessment.student_id %>
</p>

<%= link_to 'Edit', edit_student_assessment_path(@student, @assessment) %>
