<h1>EDITING TEST PERMIT</h1>

<div class="panel panel-default">
  <div class="panel-body">
      <%= simple_form_for([@student, @tpermit]) do |f| %>
        <%= f.error_notification %>
        <div class="row">
            <div class="col-md-8">
              <div class="form-inputs">
                <%= f.input :date, :label => 'Date Today:' %>
              </div>
            </div>
            <div class="col-md-4">
                <div class="form-inputs">
                <%= f.input :status, :label=> 'Test Status' %>
              </div>
            </div>
        </div>
        <hr>
        <h4>TEST SCHEDULE</h4>
        <div class="row">
            <div class="col-xs-6 col-md-4">
              <div class="form-inputs">
                <%= f.input :level, :label=>'Level:' %>
              </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <div class="form-inputs">
                <%= f.input :test_number, :label=>'Test Number:' %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
                <div class="form-inputs">
                <%= f.label :test_date, :label => 'Test Date:' %>
                <%= f.input :test_date, label: false %>
              </div>
            </div>  
          </div>
          <div class="row">
            <div class="col-md-8">
                <div class="form-inputs">
                <%= f.label :remarks, :label=> 'Remarks:' %>
                <%= f.input :remarks, label: false %>
              </div>
            </div>
          </div>
        <hr>
        <h4>TEST REQUIREMENTS</h4>
        <div clas="row">
          <div class="col-xs-6 col-md-4">
            <div class="form-inputs">
                <%= f.label :report_card, :label=> 'Report Card' %>
                <%= f.input :report_card, label: false %>
              </div>
            </div>
            <div class="col-xs-6 col-md-4">
            <div class="form-inputs">
                <%= f.label :moral_cert, :label=> 'Certificate of Good Moral' %>
                <%= f.input :moral_cert, label: false %>
              </div>
            </div>
            <div class="col-xs-6 col-md-4">
            <div class="form-inputs">
                <%= f.label :recommendation, :label=> 'Recommendation Letter' %>
                <%= f.input :recommendation, label: false %>
            </div>
          </div>
        </div>
        <br>
        <br>
        <hr>
        <h4>TEST PAYMENT</h4>
        <div class="row">
            <div class="col-xs-6 col-md-4">
            <div class="form-inputs">
                <%= f.input :or_number, :label=> 'OR Number:' %>
              </div>
            </div>
            <div class="col-xs-6 col-md-4">
            <div class="form-inputs">
                <%= f.label :paid_status, :label=> 'Paid?' %>
                <%= f.input :paid_status, label: false %>
            </div>
          </div>
        </div>
        <hr>
            <div class="form-actions">
                <center><%= f.submit "Update Test Permit" %></center>
            </div>
            <% end %>

  </div>
</div>

