<h1>SHOWING TEST PERMIT</h1>
<div class="panel panel-default">
  <div class="panel-body">
<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @tpermit.date %>
</p>

<p>
  <strong>Level:</strong>
  <%= @tpermit.level %>
</p>

<p>
  <strong>Test date:</strong>
  <%= @tpermit.test_date %>
</p>

<p>
  <strong>Test number:</strong>
  <%= @tpermit.test_number %>
</p>

<p>
  <strong>Status:</strong>
  <%= @tpermit.status %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @tpermit.remarks %>
</p>

<p>
  <strong>Report card:</strong>
  <%= @tpermit.report_card %>
</p>

<p>
  <strong>Moral certificate:</strong>
  <%= @tpermit.moral_cert %>
</p>

<p>
  <strong>Recommendation:</strong>
  <%= @tpermit.recommendation %>
</p>

<p>
  <strong>Student:</strong>
  <%= @tpermit.student_id %>
</p>

<p>
  <strong>OR number:</strong>
  <%= @tpermit.or_number %>
</p>


<p>
  <strong>Paid status:</strong>
  <%= @tpermit.paid_status %>
</p>
</div>
</div>

<%= link_to 'Edit', edit_student_tpermit_path(@student, @tpermit) %>
<%= link_to 'Back', index_path %>
