<%= simple_form_for(@student) do |f| %>
<%= f.error_notification %>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-4 in">
                <%= f.input :last_name, :input_html => { :wrap => :soft, :rows => 2}, :label => 'Last Name:', wrapper_html: { class:  'type' }, placeholder:'Rizal' %>
            </div>
            <div class="col-xs-4 in">
                <%= f.input :first_name, :label => 'First Name:', placeholder:'Jose' %>
            </div>
            <div class="col-xs-4 in">
                <%= f.input :middle_name, :label => 'Middle Initial:', placeholder:'P' %>
            </div>
        </div>
        <!-- todo: add validations to rest of fields -->
        <div class="row">
            <div class="col-xs-4 in">
                <div class="form-inputs">
                    <%= f.input :admission_date, order: [:month, :day, :year], :label => 'Admission Date:' %>
                    <%= f.input :gender, as: :select, :collection => ['Male','Female'],:label => 'Gender:' %>
                    <%= f.input :birthdate, as: :date, start_year: Date.today.year - 10,
                    end_year: Date.today.year - 12, discard_day: false,
                    order: [:month, :day, :year], :label => 'Birthdate:' %>
                    <%= f.input :religion, placeholder: 'Roman Catholic', :label => 'Religion:' %>
                    <%= f.input :batch_number, :label => 'Batch No.:' %>

                    <%= f.input :section, :label => 'Section:' %>
                </div>
            </div>
            <div class="col-xs-4 in">
                <div class="form-inputs">

                    <%= f.input :id_number %>
                    <%= f.input :year_level, :label => 'Year Level:' %>
                    <%= f.input :nationality, placeholder: 'Filipino' %>
                    <%= f.input :birth_place, :label => 'Birth Place:' %>
                    <%= f.input :street, hint: 'Mabini Avenue', :label => 'Street:' %>
                    <%= f.input :barangay, hint: 'Mayamot', :label => 'Barangay:' %>
                    <%= f.input :city, hint: 'Trese Martires', :label => 'City:' %>
                    <%= f.input :postal_code, input_html: { maxlength: 4 },hint: 'Numeric values only please.',:label => 'Postal Code:' %>
                    <%= f.input :country,:label => 'Country:', priority: [ "Philippines" ] %>
                    <%= f.input :lancaster_resident, :label => 'Lancaster Resident:' %>
                </div>
            </div>
            <div class="col-xs-4 in">
                <div class="form-inputs">

                    <%= f.input :landline, placeholder: '02-673-XXXX', :label => 'Landline:' %>
                    <%= f.input :mobile, placeholder: '0917-XXX-XXXX',:label => 'Mobile:' %>
                    <%= f.input :email, placeholder: 'juandelacruz@gmail.com', :label => 'Email:' %>
                    <%= f.input :institution_name, :label => 'Institution Name:' %>
                    <%= f.input :year_level, collection: 1...13,:label => 'Year Level:' %>
                    <%= f.input :school_year, :label => 'School Year:' %>
                    <%= f.input :grade,:label => 'Grade:' %>
                    <%= f.input :general_avg, collection: 1..100 %>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="form-actions">
            <%= f.button :submit %>
        </div>
    </div>
</div>



  <!-- <div class="form-inputs">














  </div> -->


<% end %>
