<%= simple_form_for(@student) do |f| %>
  <%= f.error_notification %>
  <div class="row">
      <div class="col-xs-5">
          <div class="form-inputs">
              <%= f.input :last_name %>
              <!-- Some Automatic Date Time Field-->
              <%= f.input :gender %>
              <%= f.input :birthdate %>
          </div>
      </div>
      <div class="col-xs-5">
          <div class="form-inputs">
              <%= f.input :first_name %>
              <%= f.input :year_level %>
              <%= f.input :nationality %>
              <%= f.input :birth_place %>
          </div>
      </div>
      <div class="col-xs-2">
          <div class="form-inputs">
              <%= f.input :middle_name %>
          </div>
      </div>
  </div>
  <div class="form-inputs">
    <%= f.input :id_number %>



    <%= f.input :admission_date %>
    <%= f.input :batch_number %>

    <%= f.input :section %>




    <%= f.input :religion %>
    <%= f.input :street %>
    <%= f.input :barangay %>
    <%= f.input :city %>
    <%= f.input :postal_code %>
    <%= f.input :country %>
    <%= f.input :lancaster_resident %>
    <%= f.input :landline %>
    <%= f.input :mobile %>
    <%= f.input :email %>
    <%= f.input :institution_name %>
    <%= f.input :year_level %>
    <%= f.input :school_year %>
    <%= f.input :grade %>
    <%= f.input :general_avg %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
