<p id="notice"><%= notice %></p>

<p>
  <strong>Id number:</strong>
  <%= @student.id_number %>
</p>

<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @student.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Admission date:</strong>
  <%= @student.admission_date %>
</p>

<p>
  <strong>Batch number:</strong>
  <%= @student.batch_number %>
</p>

<p>
  <strong>Year level:</strong>
  <%= @student.year_level %>
</p>

<p>
  <strong>Section:</strong>
  <%= @student.section %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @student.gender %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @student.birthdate %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @student.nationality %>
</p>

<p>
  <strong>Birth place:</strong>
  <%= @student.birth_place %>
</p>

<p>
  <strong>Religion:</strong>
  <%= @student.religion %>
</p>

<p>
  <strong>Street:</strong>
  <%= @student.street %>
</p>

<p>
  <strong>Barangay:</strong>
  <%= @student.barangay %>
</p>

<p>
  <strong>City:</strong>
  <%= @student.city %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @student.postal_code %>
</p>

<p>
  <strong>Country:</strong>
  <%= @student.country %>
</p>

<p>
  <strong>Lancaster resident:</strong>
  <%= @student.lancaster_resident %>
</p>

<p>
  <strong>Landline:</strong>
  <%= @student.landline %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @student.mobile %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Institution name:</strong>
  <%= @student.institution_name %>
</p>

<p>
  <strong>Year level:</strong>
  <%= @student.year_level %>
</p>

<p>
  <strong>School year:</strong>
  <%= @student.school_year %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @student.grade %>
</p>

<p>
  <strong>General avg:</strong>
  <%= @student.general_avg %>
</p>


<h1>Listing requirements</h1>
<% @student.student_requirements.in_groups_of(3, false).each do |s_array| %>
    <% for s in s_array %>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Required</th>
                    <th>Remarks</th>
                    <th>Status</th>
                    <th colspan="4"></th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td><%= s.requirement.name %></td>
                    <td><%= s.requirement.required %></td>
                    <td><%= s.requirement.remarks %></td>
                    <td><%= s.status %></td>
                </tr>
            </tbody>
        </table>
    <% end %>
<% end %>

<h1>Listing assessments for <%= @student.first_name %></h1>

<table>
    <thead>
        <tr>
            <th>Mode</th>
            <th>Tuition amount</th>
            <th>Discount rate</th>
            <th>Discount desc</th>
            <th>Installment number</th>
            <th>Or number</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @student.assessments.each do |assessment| %>
        <tr>
            <td><%= assessment.mode %></td>
            <td><%= assessment.tuition %></td>
            <td><%= assessment.discount%></td>
            <td><%= assessment.discount_desc %></td>
            <td><%= assessment.installment_number %></td>
            <td><%= assessment.or_number %></td>
            <td><%= link_to 'Show', student_assessments_path(@student) %></td>

        </tr>
        <% end %>
    </tbody>
</table>


<br>



<%= link_to 'Add New assessment', new_student_assessment_path(@student), :class=>"btn btn-small btn-success pull-right"  %>
<%= link_to 'Add New Reservation', new_student_reservation_path(@student), :class=>"btn btn-small btn-success pull-right"  %>
<%= link_to 'Add New Permit', new_student_tpermit_path(@student), :class=>"btn btn-small btn-success pull-right"  %>
<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
