<h1>REVIEWING REQUIREMENT</h1>
<div class="panel panel-default">
  <div class="panel-body">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @requirement.name %>
</p>

<p>
  <strong>Required:</strong>
  <%= @requirement.required %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @requirement.remarks %>
</p>
</div>
</div>
<%= link_to 'Edit', edit_requirement_path(@requirement), :class=>"btn btn-small btn-success" %> <%= link_to 'Back', requirements_path, :class=>"btn btn-small btn-success" %>
