<div class="panel panel-success">

    <div class="panel-heading">
        <h2 class="panel-title"><h3>LIST OF GUARDIANSHIPS</h3></h2>
    </div>

    <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Parent</th>
              <th>Student</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @guardianships.each do |guardianship| %>
              <tr>
                  <td><%= Parent.find(@guardianship.parent_id).first_name %>
                  <%= Parent.find(@guardianship.parent_id).last_name %></td>
                  <td><%= Student.find(@guardianship.student_id).first_name %>
                  <%= Student.find(@guardianship.student_id).last_name %></td>
                  <td><%= link_to 'Show', guardianship %></td>
                <td>
                        <div class="btn-group-sm" role="group" aria-label="..."><%= link_to "Show", guardianship, :id => "open-contacts-dialog-btn",
      :class => "btn btn-info", :type => "button", :method => :get %>
                      <%= link_to "Edit", edit_guardianship_path(guardianship), :id => "open-contacts-dialog-btn",
                :class => "btn btn-warning",:type => "button", :method => :get %>
                <%= link_to "Delete", guardianship, :id => "open-contacts-dialog-btn",
                :class => "btn btn-danger",:type => "button",method:  :delete, data: { confirm: 'Are you sure?' }%></div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

<%= link_to 'New Guardianship', new_guardianship_path, :class=>"btn btn-small btn-success" %>
