<h1>SHOWING GUARDIANSHIP</h1>
<div class="panel panel-default">
  <div class="panel-body">
<p id="notice"><%= notice %></p>

<p>
  <strong>Parent:</strong>
  <%= Parent.find(@guardianship.parent_id).first_name %>
  <%= Parent.find(@guardianship.parent_id).last_name %>
</p>

<p>
  <strong>Student:</strong>
  <%= Student.find(@guardianship.student_id).first_name %>
  <%= Student.find(@guardianship.student_id).last_name %>
</p>
</div></div>

<%= link_to 'Edit', edit_guardianship_path(@guardianship), :class=>"btn btn-small btn-success" %> <%= link_to 'Back', guardianships_path, :class=>"btn btn-small btn-success" %>
