<h2>Forgot your password?</h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

<div class="container forms">
  <div class="col-md-6">
	  <div class="form-inputs">
	  	<center>
	    <%= f.input :email, required: true, autofocus: true %>
	    <%= f.button :submit, "Send me reset password instructions" %><br><br>
	</center>
	    <%= render "devise/shared/links" %>
	  </div>
	</div>
<% end %>
</div>