<h3>Today is <%= Date.today.strftime("%B %d, %Y")
%></h3>


    <%if user_signed_in?%>
    <div class="alert alert-success alert-dismissable" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> <h4><strong>Welcome</strong> <%= current_user.first_name %></h4></div><%end%>

    <div class="row">
        <div class="col-md-6">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-success">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h3 class="panel-title"><b>ADMISSIONS</b></h3>
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
              <%= link_to 'Add New Student', new_student_path %>
              <hr>
              <%= link_to 'View All Test Permits', tests_path %>
              <hr>
              <%= link_to 'Add Existing Student', new_student_path %>
          </div>
        </div>
      </div>
      <div class="panel panel-success">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <h3 class="panel-title"><b>ENROLLMENT</b></h3>
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
              <%= link_to 'Update Payment Information', students_path %>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="col-md-6">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
            <h3 class="panel-title"><b>BILLING</b></h3>
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
          <%= link_to 'View All Assessments', payments_path %>
          <hr>
          <%= link_to 'View All Test Permits', tests_path%>
          <hr>
          <%= link_to 'View All Reservations', reservations_path %>
      </div>
    </div>
  </div>
  <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <h3 class="panel-title"><b>REPORTING</b></h3>
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
          <%= link_to 'View Class List', classlist_path %>
          <hr>
          <%= link_to 'View Year List', year_path %>
      </div>
    </div>
  </div>
</div>
</div>


</div>
