<h1 style="color:#186636;">Welcome, Yuri</h1>
<p>Lorem ipsum sicit dolor</p>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Admissions</h3>
            </div>
            <div class="panel-body">
                <%= link_to 'New Student', new_student_path %>
                <hr>
                <%= link_to 'View Students', students_path %>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Payments</h3>
            </div>
            <div class="panel-body">
                <%= link_to 'View All Assessments', payments_path %>
                <hr>
                <%= link_to 'View All Test Permits', tests_path%>
                <hr>
                <%= link_to 'View All Reservations', reservations_path %>
            </div>
        </div>
    </div>
</div>
