<div class="panel panel-success">
    <div class="panel-heading">
        <h2 class="panel-title"><h3>Assessment Payment List</h3></h2>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Student</th>
                    <th>Mode</th>
                    <th>Installment Type</th>
                    <th>Installment Number</th>
                    <th>OR Number</th>
                    <th>Actions</th>
                    <th>Payment Status</th>
                </tr>
            </thead>
            <tbody>
            <% @payments.each do |payment| %>
            <% if payment.paid_status ==  false %>
                <tr class="danger">
            <%else %>
                <tr class="success">
            <% end %>
                    <th scope="row"><b><%= payment.student.last_name %></b>, <%= payment.student.first_name %> <%= payment.student.middle_name %></td>
                    <td><%= payment.mode %></th>
                    <td><%= payment.installment %></td>
                    <td><%= payment.installment_number %></td>
                    <td><%= payment.or_number %></td>
                    <td>
                    <%= link_to "Show", student_assessment_path(payment.student.id, payment), :id => "open-contacts-dialog-btn",
      :class => "btn btn-info btn-sm", :type => "button", :method => :get %>

                    </td>
                    <td>
                        <% if payment.paid_status == false %>
                            <span class="label label-warning">NOT YET PAID</span>
                        <% else %>
                        <span class="label label-success">PAID</span>
                        <% end %>
                    </td>
                </tr>
                    <% end %>
                </tbody>
            </table>

        </div>
    </div>
