<h1 style="color:#186636;">Listing Payments</h1>

<table>
    <thead>
        <tr>
            <th>Student</th>
            <th>Mode</th>
            <th>Testing amount</th>
            <th>Reservation amount</th>
            <th>Tuition amount</th>
            <th>Discount rate</th>
            <th>Discount desc</th>
            <th>Installment number</th>
            <th>Or number</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @payments.each do |payment| %>
        <tr>
            <td><%= payment.student.first_name %> <%= payment.student.last_name %></td>
            <td><%= payment.mode %></td>
            <td><%= payment.tuition %></td>
            <td><%= payment.discount %></td>
            <td><%= payment.discount_desc %></td>
            <td><%= payment.installment_number %></td>
            <td><%= payment.or_number %></td>
        </tr>
        <% end %>
    </tbody>
</table>
