<div class="panel panel-success">
    <div class="panel-heading">
        <h2 class="panel-title"><h3>Assessment Payment List</h3></h2>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Student</th>
                    <th>Mode</th>
                    <th>Installment Number</th>
                    <th>OR Number</th>
                    <th>Payment Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% @payments.each do |payment| %>
                <tr>
                    <th scope="row"><%= payment.student.first_name %> <%= payment.student.last_name %></td>
                    <td><%= payment.mode %></th>
                    <td><%= payment.installment %></td>
                    <td><%= payment.installment_number %></td>
                    <td><%= payment.or_number %></td>
                    <td><%= payment.paid_status %></td>
                    <td><%= link_to 'Show', student_assessment_path(payment.student.id, payment) %></td>
                </tr>
                    <% end %>
                </tbody>
            </table>

        </div>
    </div>
