<div class="panel panel-success">
    <div class="panel-heading">
        <h2 class="panel-title"><h3>Assessment Payment List</h3></h2>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Student</th>
                    <th>Test Number</th>
                    <th>Remarks</th>
                    <th>Payment</th>
                    <th>Actions</th>
                    <th>Pass Status</th>
                </tr>
            </thead>
            <tbody>
                <% @tests.each do |test| %>
                <% if test.paid_status ==  false %>
                    <tr class="danger">
                <%else %>
                    <tr class="success">
                <% end %>
                    <th scope="row"><%= test.student.first_name %> <%= test.student.last_name %></th>
                    <td><%= test.test_number %></td>
                    <td><%= test.status %></td>
                    <td><%= test.remarks %></td>
                    <td><%= link_to 'Show', student_tpermit_path(test.student.id, test) %>
                    <%= link_to 'Edit', edit_student_tpermit_path(test.student.id, test) %></td>
                    <td><b style="text-transform: uppercase;"><%= test.paid_status %></b></td>

                </tr>
                <% end %>
                    </tbody>
                </table>

            </div>
        </div>
<br>
