<h1>REVIEWING RESERVATION</h1>
<div class="panel panel-default">
  <div class="panel-body">
<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @reservation.paid_status %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @reservation.remarks %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @reservation.amount %>
</p>

<p>
  <strong>Student:</strong>
  <%= @reservation.student_id %>
</p>

<p>
  <strong>OR number:</strong>
  <%= @reservation.or_number %>
</p>
</div>
</div>

<%= link_to 'Edit', edit_student_reservation_path(@student, @reservation), :class=>"btn btn-small btn-success" %>
<%= link_to 'Home', index_path, :class=>"btn btn-small btn-success" %>
