<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @permit.date %>
</p>

<p>
  <strong>Level:</strong>
  <%= @permit.level %>
</p>

<p>
  <strong>Test date:</strong>
  <%= @permit.test_date %>
</p>

<p>
  <strong>Release:</strong>
  <%= @permit.release %>
</p>

<p>
  <strong>Report card:</strong>
  <%= @permit.report_card %>
</p>

<p>
  <strong>Moral cert:</strong>
  <%= @permit.moral_cert %>
</p>

<p>
  <strong>Recommendation:</strong>
  <%= @permit.recommendation %>
</p>

<%= link_to 'Edit', edit_permit_path(@permit) %> |
<%= link_to 'Back', permits_path %>
