<p id="notice"><%= notice %></p>

<p>
  <strong>Mode:</strong>
  <%= @payment.mode %>
</p>

<p>
  <strong>Testing amount:</strong>
  <%= @payment.testing_amount %>
</p>

<p>
  <strong>Reservation amount:</strong>
  <%= @payment.reservation_amount %>
</p>

<p>
  <strong>Tuition amount:</strong>
  <%= @payment.tuition_amount %>
</p>

<p>
  <strong>Discount rate:</strong>
  <%= @payment.discount_rate %>
</p>

<p>
  <strong>Discount desc:</strong>
  <%= @payment.discount_desc %>
</p>

<p>
  <strong>Installment number:</strong>
  <%= @payment.installment_number %>
</p>

<p>
  <strong>Or number:</strong>
  <%= @payment.or_number %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
