<h1>Listing student_requirements</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @student_requirements.each do |student_requirement| %>
      <tr>
        <td><%= student_requirement.status %></td>
        <td><%= link_to 'Show', student_requirement %></td>
        <td><%= link_to 'Edit', edit_student_requirement_path(student_requirement) %></td>
        <td><%= link_to 'Destroy', student_requirement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student requirement', new_student_requirement_path %>
