<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @checklist.status %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @checklist.remarks %>
</p>

<%= link_to 'Edit', edit_checklist_path(@checklist) %> |
<%= link_to 'Back', checklists_path %>
