<h1>Listing admissions</h1>

<table>
  <thead>
    <tr>
      <th>Last name</th>
      <th>First name</th>
      <th>Middle name</th>
      <th>Grade level</th>
      <th>Address</th>
      <th>Mode</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admissions.each do |admission| %>
      <tr>
        <td><%= admission.last_name %></td>
        <td><%= admission.first_name %></td>
        <td><%= admission.middle_name %></td>
        <td><%= admission.grade_level %></td>
        <td><%= admission.address %></td>
        <td><%= admission.mode %></td>
        <td><%= link_to 'Show', admission %></td>
        <td><%= link_to 'Edit', edit_admission_path(admission) %></td>
        <td><%= link_to 'Destroy', admission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admission', new_admission_path %>
