<%= simple_form_for([@student, @test]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :test_number %>
    <%= f.input :status %>
    <%= f.input :remarks %>
    <%= f.input :student_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
