<h1 style="color:#186636;">Listing tests</h1>

<table>
  <thead>
    <tr>
      <th>Test number</th>
      <th>Status</th>
      <th>Remarks</th>
      <th>Student</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @student.tests.each do |test| %>
      <tr>
        <td><%= test.test_number %></td>
        <td><%= test.status %></td>
        <td><%= test.remarks %></td>
        <td><%= test.student_id %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test', new_student_test_path %>
