<p id="notice"><%= notice %></p>

<p>
  <strong>Test number:</strong>
  <%= @test.test_number %>
</p>

<p>
  <strong>Status:</strong>
  <%= @test.status %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @test.remarks %>
</p>

<p>
  <strong>Student:</strong>
  <%= @test.student_id %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
