<!DOCTYPE html>
<html>
<head>
  <title>SEIS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <%= render '/shared/navigation' %>
    <div class="container main">
        <%= yield %>
    </div>
    <br>
    <br>
    <br>
<footer>
    <center style="color: #727171;">
        St. Edward Integrated School System
        <br>
        © Pivotal Solutions 2015
    </center>
    <br>
    <br>
</footer>
</body>
</html>
